.helperText { 
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    text-shadow: 2px 2px 2px #eee;
    padding: 2px;
}

.ownerName {
    font-size: 1.6rem;
    color: red;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 2px 2px 2px #eee;
}